.content {
    display: flex;
    justify-content: center;
}

.calculator {
    border: 4px solid rgb(0, 0, 0);
    border-radius: 30px;
    margin: 100px;
    background-color: rgb(9, 183, 236);
    padding: 20px;
    max-width: 560px;
}

.display {
     border: 4px solid black;
     border-radius: 16px;
     background-color: rgb(39, 39, 39);
     color: white;
     font-size: 50px;
     margin: 0px 0px 20px 0px;
     padding: 20px 5px 0px 5px;
     text-align: right;
     max-width: 312px;
     height: 86px;
     max-height: 86px;
}

.buttons {
    border: 4px solid rgb(0, 0, 0);
    border-radius: 16px;
    flex: auto;
    display: flex;
    padding: 12px;
    justify-content: space-around;
    background-color: rgba(145, 145, 145, 0.815);
}

.column {
    display: flex;
    flex-direction: column;
    /*border: 2px solid rgb(255, 0, 0);*/
}

.col-a {
    justify-content: center;
}

.col-b {
    justify-content: end;
}

button {
    font-size: 30px;
    border-radius: 16px;
    padding: 10px 20px;
    width: 60px;
    height: 55px;
    text-align: center;
    margin: 5px;
}

.NaN {
    background-color: rgb(247, 227, 173);
}